/*

*/


* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    font-size: 1em;
    background-color: #5E5C65;
}

nav {
    text-align: center;
    padding: 2em;
    background-color: #41A19C;
}

nav>span {
    padding: 0 3%;
    font-size: 2em;
    color: white;
}

main {
    text-align: center;
    height: 82%;
    background-color: #2B2639;
}

main>form {
    width: 100%;
    height: 100%;
    display: block;
    padding: 2em;
}

main>form input {
    width: 100%;
}

.inputContainer {
    position: relative;
    height: 3em;
    border-bottom: #41A19C 2px solid;
    margin-bottom: 1em;
}

.inputContainer>* {
    padding: 0 1%;
}

.inputContainer>label {
    position: absolute;
    left: 0;
    bottom: 0em;
    transition: bottom 0.5s ease;
    color: #41A19C;
}

.inputContainer>input {
    position: absolute;
    left: 0;
    bottom: 0;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: white;
}

input[type=submit] {
    height: 3em;
    font-size: 1em;
    outline: none;
    border: 0;
    border-radius: 0.2em;
    cursor: pointer;
    background-color: #62BAB9;
}


input[type=text]:valid+label,
input[type=text]:focus+label,
input[type=password]:valid+label,
input[type=password]:focus+label {
    bottom: 1.5em;
    color: white;
}

#loginStatus {
    color: red;
}

a#signupLink {
    display: inline;
    color: #62BAB9;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease color;
}

a#signupLink:hover {
    color: white;
}

/* register.html */
a#back {
    position: absolute;
    margin: 0.5rem;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 1.2rem;
    cursor: pointer;
    color: #5E5C65;
    transition: 0.3s ease font-size;
    text-decoration: none;
}

a#back:hover {
    font-size: 1.3rem;
}

footer {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    /* margin-top: 13em; */
    width: 100%;
    color: #9b9a9a;
}
